{% load static %}
<link rel="stylesheet" href="{% static 'nav.css' %}">
<nav class="navbar navbar-expand-lg navi_height" style="background-color: rgb(61, 31, 143);">
  <div class="container-fluid">
    <div class="home_pos">
    <a class="nav-link" style="color: aliceblue;" href="#">Home</a>
    </div>
    <div class="about_pos">
      <a class="nav-link" style="color: aliceblue;" href="#">About me</a>
    </div>
    <div class="portfolio_pos">
      <a class="nav-link" style="color: aliceblue;" href="#">My portfolio</a>
    </div>
  </div>
</nav>